Flujos de Node Red/MQTT flow experimento 1.json
[
    {
        "id": "897143d5.acd15",
        "type": "serial in",
        "z": "b456793f.751438",
        "name": "Microcontroller input",
        "serial": "f65d3740.e73448",
        "x": 130,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b175f.290c48a",
        "type": "debug",
        "z": "b456793f.751438",
        "name": "Raw input",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "e6026d5.a0e859",
        "type": "function",
        "z": "b456793f.751438",
        "name": "Formatting",
        "func": "var res = {};\n\n\ntempString = msg.payload;\ntempArray = tempString.split(\"-\");\nres.topic = \"measurements\";\nres.payload = {};\n\nres.payload = {\"temperatura\":parseFloat(tempArray[0]),\"ruido\":parseFloat(tempArray[1]),\"gases\":parseFloat(tempArray[2]),\"iluminacion\":parseFloat(tempArray[3])};\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "661e651c.582a7c",
                "886b74f7.380588"
            ]
        ]
    },
    {
        "id": "661e651c.582a7c",
        "type": "debug",
        "z": "b456793f.751438",
        "name": "After formatting",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "c40fdbae.d21f48",
        "type": "inject",
        "z": "b456793f.751438",
        "name": "Sample time",
        "topic": "sampleTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "babc0678.8d7e08",
                "adb41272.dfc8e"
            ]
        ]
    },
    {
        "id": "babc0678.8d7e08",
        "type": "debug",
        "z": "b456793f.751438",
        "name": "Raw time",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "adb41272.dfc8e",
        "type": "function",
        "z": "b456793f.751438",
        "name": "Format time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "46ba4001.aaa0d",
                "886b74f7.380588"
            ]
        ]
    },
    {
        "id": "886b74f7.380588",
        "type": "function",
        "z": "b456793f.751438",
        "name": "Merge messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"sampleTime\":\n        context.data.sampletime = msg.payload;\n        msg = null;\n        break;\n    case \"measurements\":\n        context.data.measurements = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    break;\n}\n\nif(context.data.sampletime != null && context.data.measurements != null) {\nres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"measurements\"\n    context.data = null;\nreturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "bdf52044.cc148"
            ]
        ]
    },
    {
        "id": "bdf52044.cc148",
        "type": "debug",
        "z": "b456793f.751438",
        "name": "After merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e7cf75.a340208",
        "type": "inject",
        "z": "b456793f.751438",
        "name": "TEST NODE",
        "topic": "",
        "payload": "23.3-83.2-50.21-150.54",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8b175f.290c48a",
                "e6026d5.a0e859"
            ]
        ]
    },
    {
        "id": "46ba4001.aaa0d",
        "type": "debug",
        "z": "b456793f.751438",
        "name": "After formatting",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "262ab93f.98cc26",
        "type": "mqtt out",
        "z": "b456793f.751438",
        "name": "Mqtt out",
        "topic": "alta.piso1.local1",
        "qos": "0",
        "retain": "false",
        "broker": "d264b061.04648",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "f65d3740.e73448",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/cu.usbserial-A100DOBD",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "d264b061.04648",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.24.42.20",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]